doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= title
        link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.css")
        if styles
            for style in styles
                link(rel="stylesheet", href=style)
    body
        div.container
            div.navbar.navbar-default(role="navigation")
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href="/") SayVeet
                    div.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li(class=page.home ? "active" : "")
                                a(href="/") Home
                            li(class=page.about ? "active" : "")
                                a(href="/about") About
                            li(class=page.transactions ? "active" : "")
                                a(href="/transactions") Transactions
            block content
        script(src="/lib/jquery/dist/jquery.js")
        script(src="/lib/knockout/dist/knockout.js")
        script(src="/lib/underscore/underscore.js")
        script(src="/lib/moment/moment.js")
        script(src="/lib/chartjs/Chart.js")
        script(src="/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js")
        script(src="/js/reports.js")